<%= title "About", false %>
<h1>About Us!</h1>

<p>Keep your money safe and secure with our easy to use online banking system!</p>

<div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
              <h5 class="card-title">About Us</h5>
                <p class="card-text">Learn about our team and how our system works.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">Have any questions, concerns, or comments for us? Don't be shy!</p>
                <a href="#" class="btn btn-primary">Go To Contact</a>
              </div>
            </div>
          </div>
        </div>