<%= title "About", false %>
<h1>About Us!</h1>

<p>Keep your money safe and secure with our easy to use online banking system!</p>

<h3>Why You Should Use Comfort Bank:</h3>
<ul class="list-group">
  <li class="list-group-item">Family Owned Bank</li>
  <li class="list-group-item">Do All Your Transactions Online!</li>
  <li class="list-group-item">Friendly Customer Service</li>
  <li class="list-group-item">Free Checks for One Year</li>
  <li class="list-group-item">Most Secure Systems</li>
</ul>