<%= title "Home", false %>
<h1>Welcome To Comfort Banks Official Website!</h1>

<div class="row row-home">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">Learn about our team and how our system works.</p>
                <a href="/about" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">Have any questions, concerns, or comments for us? Don't be shy!</p>
                <a href="/contact" class="btn btn-primary">Go To Contact</a>
            </div>
        </div>
    </div>
</div>