// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  padding-top: 6rem;
}
nav {
    min-height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.navbar-bar {
    background: rgb(0, 100, 209) !important;
}
.navbar-brand{
    margin-left: 5rem;
    color: black;
}
.navbar-nav {
    position: absolute;
    right: 25rem;
}
main {
    min-height: 80vh;
    width: 100%;
}

.row-home {
    margin: 4rem 0;
}


footer {
    min-height: 10vh;
    width: 100%;
    background: rgb(200, 203, 205);
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgb(0, 100, 209) !important;
}
footer h3 {
    margin-left: 6rem;
    color: white;
}
